/* Footer container style */
#footer-container-style {
  border: 3px solid rgb(8, 9, 56);
  width: 100%;
  height: 275px;
}

/* Footer contents style */
#content-style {
  border: 2px solid purple;
  margin: 0px 150px 15px 150px;
}

/* footer-copyright-container */
#footer-copyright-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
